<% if @user.errors.count != 0 then %>
  <div class="alert alert-error">
    <h4>Error</h4>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= form_tag users_path,:method => :post, :class => 'form-horizontal' do %>
  <div class="control-group">
    <%= label_tag 'Username', nil, :class=>'control-label' %>
    <div class="controls">
      <%= text_field_tag 'user', nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'Email', nil, :class=>'control-label' %>
    <div class="controls">
      <%= text_field_tag 'email1', nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'Email Again', nil, :class=>'control-label' %>
    <div class="controls">
      <%= text_field_tag 'email2', nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'Password', nil, :class=>'control-label' %>
    <div class="controls">
      <%= password_field_tag 'pass1', nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= label_tag 'Password Again', nil, :class=>'control-label' %>
    <div class="controls">
      <%= password_field_tag 'pass2', nil, :class => 'text_field' %>
    </div>
  </div>
  <div class="form-actions">
    <%= submit_tag 'Create User', :class=> 'btn btn-primary' %>
    <%= link_to 'Cancel', root_path, :class=>'btn' %>
  </div>

<% end  %> 
